<div style="display:flex">
  <div
    cdkDropList
    [cdkDropListData]="artists"
    [cdkDropListConnectedTo]="[secondList, tList]"
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width:40%"
  >
    <div *ngFor="let artist of artists" class="pop" cdkDrag>
      <mat-chip-list fxLayoutAlign="center">
        <mat-chip style="margin:10px">
          {{ artist }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div
    cdkDropList
    [cdkDropListData]="alteArtists"
    [cdkDropListConnectedTo]="[firstList,tList]"
    #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width:40%;margin-left:20px"
  >
    <div *ngFor="let artist of alteArtists" class="pop" cdkDrag>
      {{ artist }}
    </div>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[firstList, secondList]"
    #tList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width:40%;margin-left:20px"
  >
  <div *ngFor="let item of todo" class="pop" cdkDrag>
      {{ item }}
    </div>
  </div>

  <!-- <div
    cdkDropList
    [cdkDropListData]="artists"
    [cdkDropListConnectedTo]="secondList"
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width:40%"
  >
    <div *ngFor="let artist of artists" class="pop" cdkDrag>
        <mat-chip-list fxLayoutAlign="center">
            <mat-chip style="margin:10px">
              {{ artist }}
            </mat-chip>
          </mat-chip-list>

    </div>
    

  </div>
  <div 
    cdkDropList
    [cdkDropListData]="alteArtists"
    [cdkDropListConnectedTo]="firstList"
    #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width:40%;margin-left:20px"
  >
    <div *ngFor="let artist of alteArtists" class="pop" cdkDrag>
      {{ artist }}
    </div>
  </div> -->
</div>

<!-- 
<div class="example-container">
  <h2>To do</h2>

  <div
    style="width:100px"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    
    <div *ngFor="let member of members" cdkDrag>
      <mat-chip-list fxLayoutAlign="center">
        <mat-chip style="margin:10px">
          {{ member.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    style="width:100px"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{ item }}</div>
  </div>
</div> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<h3>All Members</h3>
<mat-divider></mat-divider>
<!-- <mat-chip-list>
  <mat-chip *ngFor="let member of members" style="margin:10px">
    {{ member.name }}
  </mat-chip>
</mat-chip-list> -->

<div
cdkDropList
[cdkDropListData]="members"
[cdkDropListConnectedTo]="[poolAList, poolBList]"
#allList="cdkDropList"
(cdkDropListDropped)="drop($event)"
>
<div *ngFor="let member of members"  cdkDrag>
  <mat-chip-list >
    <mat-chip style="margin:10px" >
      {{ member.name }}
    </mat-chip>
  </mat-chip-list>
</div>
</div>



<mat-divider></mat-divider>

<br />
<h3>Match Pools</h3>
<mat-divider></mat-divider>
<mat-grid-list cols="2" rowHeight="22rem">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Pool A</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
          <div
          cdkDropList
          [cdkDropListData]="poolA"
          [cdkDropListConnectedTo]="[allList, poolBList]"
          #poolAList="cdkDropList"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let member of poolA"  cdkDrag>
            <mat-chip-list fxLayoutAlign="center">
              <mat-chip style="margin:10px">
                {{ member.name }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>



      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Pool B</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
            <div
            cdkDropList
            [cdkDropListData]="poolB"
            [cdkDropListConnectedTo]="[allList, poolAList]"
            #poolBList="cdkDropList"
            (cdkDropListDropped)="drop($event)"
            
          >
            <div *ngFor="let member of poolB"  cdkDrag>
              <mat-chip-list fxLayoutAlign="center">
                <mat-chip style="margin:10px">
                  {{ member.name }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="1" rowHeight="2:1" style="margin:10px">
  <div fxLayoutAlign="center">
    <button mat-raised-button color="accent">랜덤 대진표 생성 !</button>
  </div>
</mat-grid-list>

<h3>Match Results</h3>

<mat-card>
  <mat-card-header>
    <mat-card-title>Match 1</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Cho/Ko vs. Lim/Shin
    </p>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Match 2</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Cho/Ko vs. Lim/Shin
    </p>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Match 3</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Cho/Ko vs. Lim/Shin
    </p>
  </mat-card-content>
</mat-card>

<!-- 

<h1>
  {{title}}
</h1>
<div>
<mat-form-field>
  <input matInput placeholder="Simple Input" [(ngModel)]="title">
</mat-form-field>
</div>
<div>
<mat-icon>home</mat-icon>
</div>

<div>
<button mat-raised-button>I'm a button</button>
</div>
<br>
<div>
<mat-form-field>
  <mat-select placeholder="I'm a select" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{item.view}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div> -->

<!-- 
<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Yay, Material in Angular 2!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div> -->

<!-- <h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div> -->

<!-- <h3>json-server examples</h3>
<div class="example-button-row">
  <a mat-raised-button color="primary" [routerLink]="['/list']"><mat-icon>list</mat-icon></a>
  <a mat-raised-button color="primary" [routerLink]="['/create']"><mat-icon>add</mat-icon></a>
</div> -->
<!-- 
<h3>input?</h3>
<div>
  <mat-form-field>
    <input matInput placeholder="Simple Input" [(ngModel)]="title" />
  </mat-form-field>
</div> -->
