<ul>
  <li *ngFor="let item of fireMembers | async">
    {{ item.name }}
  </li>
</ul>


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
  <div>
    <div class="flex-row">
      <div>
        <mat-chip-list>
          <div class="chip-list">
            <div class="pool-title">
              <span matBadge="{{ numberOfPoolA }}" matBadgeOverlap="false"
                >Pool A</span
              >
            </div>
            <div
              cdkDropList
              [cdkDropListData]="poolA"
              [cdkDropListConnectedTo]="[allList, poolBList]"
              #poolAList="cdkDropList"
              (cdkDropListDropped)="drop($event)"
              class="pool-list-A"
            >
              <div *ngFor="let member of poolA" cdkDrag>
                <mat-chip class="member-name" color="primary" selected>
                  {{ member.name }}
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-chip-list>
      </div>

      <div>
        <mat-chip-list>
          <div class="chip-list">
            <div class="pool-title">
              Availables
            </div>
            <div
              cdkDropList
              [cdkDropListData]="availableMembers"
              [cdkDropListConnectedTo]="[poolAList, poolBList]"
              #allList="cdkDropList"
              (cdkDropListDropped)="drop($event)"
              class="pool-list-available"
            >
              <div *ngFor="let member of availableMembers" cdkDrag>
                <mat-chip
                  class="member-name"
                  selected
                  style="background-color: silver;color:black;"
                >
                  {{ member.name }}
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-chip-list>
      </div>
      <div>
        <mat-chip-list>
          <div class="chip-list">
            <div class="pool-title">
              <span
                matBadge="{{ numberOfPoolB }}"
                matBadgeOverlap="false"
                matBadgeColor="warn"
                >Pool B</span
              >
            </div>
            <div
              cdkDropList
              [cdkDropListData]="poolB"
              [cdkDropListConnectedTo]="[allList, poolAList]"
              #poolBList="cdkDropList"
              (cdkDropListDropped)="drop($event)"
              class="pool-list-B"
            >
              <div *ngFor="let member of poolB" cdkDrag>
                <mat-chip class="member-name" selected color="warn">
                  {{ member.name }}
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <br />
  <mat-divider></mat-divider>
  <br />

  <div class="flex-btn-container">
    <button mat-raised-button color="accent" (click)="goodLuck()">
      GOOD LUCK ({{btnPressCount}})
    </button>
  </div>
</div>

<div *ngIf="isMatchVisible">
  <br />
  <mat-divider></mat-divider>
  <br />

  <div class="flex-card">
    <div class="match-card" *ngFor="let match of matchArray(); let i = index">
      <mat-card
        class="card-container"
        [ngStyle]="{
          'background-image': 'url(' + '../assets/p' + match + '.png' + ')'
        }"
      >
        <mat-card-content>
          <div class="flex-column">
            <div class="card-text">Match {{ match }}</div>

            <div class="flex-row">
              <div>
                <mat-chip class="member-name" selected color="primary">
                  {{ shuffledA[match * 2 - 2].name }}
                </mat-chip>
              </div>
              <div>
                <mat-chip class="member-name" selected color="warn">
                  {{ shuffledB[match * 2 - 2].name }}
                </mat-chip>
              </div>
            </div>

            <div class="card-text">VS.</div>

            <div class="flex-row">
              <div>
                <mat-chip class="member-name" selected color="primary">
                  {{ shuffledA[match * 2 - 2 + 1].name }}
                </mat-chip>
              </div>
              <div>
                <mat-chip class="member-name" selected color="warn">
                  {{ shuffledB[match * 2 - 2 + 1].name }}
                </mat-chip>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br />
  <mat-divider></mat-divider>
</div>
